.left{
  width: 50%;
  height: 550px;
}
.right{
  width: 50%;
  height: 550px;
}
.rightComp{
  width: 100%;
  height: 520px;
  border: 1px solid #faf8f8;
}
.bottomLeftComp{
  width: 100%;
  height: 220px;
  border: 1px solid #faf8f8;
}
.topLeftComp{
  width: 100%;
  min-height: 300px;
  border: 1px solid #faf8f8;
}
img[alt="pokemon"]{
  width: 100%;
  height: 50px;
  box-shadow: 1px 1px 1px 1px #f1efef;
}
img[alt="pokemon"]:hover{
  margin-top: 1px;
  width: 100%;
  height: 52px;
  transition: height 15s ease-out;
  cursor: pointer;
}
.pokemon-pad-left{
  background-image: linear-gradient(#fff,#eeeaea,#fff);
  z-index: 1;
}
.pokemon-pad-left:hover{
  cursor: pointer;
}
img[alt="pokemon-detail-img"]{
  width: 100%;
  height: 100px;
}
.name-of-pokemon{
  font-size: 12px;
  text-transform: capitalize;
  text-align: center;
  font-weight: bolder;
}
.message{
  text-transform: capitalize;
  font-size: 10px;
  color: red;
  top: 50;
  font-weight: 700;
}
img[alt="oops"]{
  width: 25px;
  height: 25px;
  padding: 5px;
  margin-top: 10px;
}
@media only screen and (max-width: 600px) {
  .name-of-pokemon{
    font-size: 8px;
  }
  img[alt="pokemon-detail-img"]{
    width: 100%;
    height: 70px;
    padding: 8px;
  }
  .topLeftComp{
    width: 100%;
    min-height: 200px;
    border: 1px solid #faf8f8;
  }
}
