.left{
  width: 50%;
  height: 550px;
}
.right{
  width: 50%;
  height: 550px;
}
.rightComp{
  width: 100%;
  height: 520px;
  border: 1px solid #faf8f8;
}
.bottomLeftComp{
  width: 100%;
  height: 220px;
  border: 1px solid #faf8f8;
}
.topLeftComp{
  width: 100%;
  height: 300px;
  border: 1px solid #faf8f8;
}